{{- /* Checks if running interactively, which is not the case for GitHub Codespaces */ -}}
{{- $interactive := stdinIsATTY -}}

{{- /* Initializes the name variable with a default value */ -}}
{{- $name := "Leonard Herold" -}}
{{- /* If name was previously set, reuses it */ -}}
{{- if hasKey . "name" -}}
{{-   $name = .name -}}
{{- /* Otherwise, if running interactively, prompts for a name */ -}}
{{- else if $interactive -}}
{{-   $name = promptString "name" $name -}}
{{- end -}}

{{- /* Does the same for the email */ -}}
{{- $email := "" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else if $interactive -}}
{{-   $email = "92177433+LeonardHd@users.noreply.github.com" -}}
{{-   $email = promptString "email" $email -}}
{{- end -}}

{{- /* Initializes the gitUseGCM variable with a default value */ -}}
{{- $gitUseGCM := false -}}
{{- /* If gitUseGCM was previously set, reuses it */ -}}
{{- if hasKey . "gitUseGCM" -}}
{{-   $gitUseGCM = .gitUseGCM -}}
{{- /* Otherwise, if running interactively, prompts for gitUseGCM */ -}}
{{- else if $interactive -}}
{{-   $gitUseGCM = promptBool "gitUseGCM" $gitUseGCM -}}
{{- end -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your name, email, and gitUseGCM with `chezmoi init --data=false`.\n" -}}
{{- end -}}

sourceDir: {{ .chezmoi.sourceDir | quote }}

data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  gitUseGCM: {{ $gitUseGCM }}