export EDITOR='vim'

############################################
# Oh My bash
############################################

# Enable the subsequent settings only in interactive sessions
case $- in
  *i*) ;;
    *) return;;
esac

# Path to your oh-my-bash installation.
export OSH="$HOME/.oh-my-bash"

# Set name of the theme to load. Optionally, if you set this to "random"
# it'll load a random theme each time that oh-my-bash is loaded.
OSH_THEME="font"

# To disable the uses of "sudo" by oh-my-bash, please set "false" to
# this variable.  The default behavior for the empty value is "true".
OMB_USE_SUDO=true

# To enable/disable display of Python virtualenv and condaenv
OMB_PROMPT_SHOW_PYTHON_VENV=true  # enable

# Which completions would you like to load? (completions can be found in ~/.oh-my-bash/completions/*)
# Custom completions may be added to ~/.oh-my-bash/custom/completions/
# Example format: completions=(ssh git bundler gem pip pip3)
# Add wisely, as too many completions slow down shell startup.
completions=(
  git
  composer
  ssh
)

# Which aliases would you like to load? (aliases can be found in ~/.oh-my-bash/aliases/*)
# Custom aliases may be added to ~/.oh-my-bash/custom/aliases/
# Example format: aliases=(vagrant composer git-avh)
# Add wisely, as too many aliases slow down shell startup.
aliases=(
  general
)

# Which plugins would you like to load? (plugins can be found in ~/.oh-my-bash/plugins/*)
# Custom plugins may be added to ~/.oh-my-bash/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
plugins=(
  git
  bashmarks
  pyenv
)

source "$OSH"/oh-my-bash.sh

############################################
# User configuration
############################################

# Alias definitions.
# You may want to put all your additions into a separate file like
# ~/.bash_aliases, instead of adding them here directly.
# See /usr/share/doc/bash-doc/examples in the bash-doc package.
if [ -f ~/.bash_aliases ]; then
    . ~/.bash_aliases
fi

# Add to Path
export PATH="$PATH:/opt/nvim-linux-x86_64/bin"

############################################
# Custom functions
############################################

gscp() {
    git stash && git checkout "$1" && git stash pop
}

############################################
# Git configuration
############################################

{{ if eq .email "" }}
# If email is not set check if git local config is set
if ! git config --get user.email > /dev/null; then
  echo "WARNING: Git email is not set. Run 'chezmoi init --apply --data=false' to set it."
fi
{{- end }}

{{ if eq .name "" }}
# If name is not set check if git local config is set
if ! git config --get user.name > /dev/null; then
  echo "WARNING: Git name is not set. Run 'chezmoi init --apply --data=false' to set it."
fi
{{- end }}
